Source: puppet-git-receiver
Section: admin
Priority: optional
Maintainer: John Leach <john@brightbox.co.uk>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.4
Homepage: https://github.com/brightbox/puppet-git-receiver
Vcs-Git: git://github.com/brightbox/puppet-git-receiver.git
Vcs-Browser: https://github.com/brightbox/puppet-git-receiver

Package: puppet-git-receiver
Architecture: all
Depends: ${misc:Depends}, git|git-core, sudo, adduser
Suggests: puppet (>= 2.7)|puppet-agent, ruby-hiera|hiera
Description: Provides a git repo that runs puppet on post-receive
 A git post-receive hook script that handles extracting a puppet
 manifest from a git repository and applying it with puppet.
 .
 It pre-configures a git repository named puppet.git and a user named
 puppet-git.
